* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.navbarrecours {
    background-color: #f4ba0e;
    display: flex;
    position: relative;
    min-height: 96px;
    justify-content: flex-start;
}

.navbarrecours .logocours {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    width: 110px;
    height: 125.86px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: start;
    position: absolute;
}

.logo_nav {
    width: 110px;
    padding-left: 10px;
    padding-top: 10px;
}

.logocour {
    width: 110px;
    height: 86px;
}

.navbarre {
    list-style: none;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    position: absolute;
    right: 0%;
    /*top: 15%;*/
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 15px 15px; /*modif ici */
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    background-color: #F4BA0E;

}

ul li ul.dropdown li {
    display: block;
 /*modif ici */
}

ul li ul.dropdown {
    display: none;
    position: absolute;
}

ul li a:hover {
    transition: 1s;
    color: #b2316c;
}

ul li:hover ul.dropdown {
    display: block;
    transition: 1s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    margin: 40px;
    cursor: pointer;
    display: none;

}

#check {
    display: none;
}

a.active,a:hover{
    transition: .5s;
}
.bouttonpage {
    height: 50px;
    width: 50px;
    background:#F4BA0E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 30;
}
.iconearrow{
    width: 25px;
    color: white;
}



h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cgu {
    padding: 30px;
    text-align: justify;
}

.titrecgu {
    display: flex;
    justify-content: center;
}

.titrecgv {
    display: flex;
    justify-content: center;
}

.cgv {
    padding: 30px;
    text-align: justify;
}
.mentionslegales {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.conditiongenerales {
    padding: 30px;
    text-align: justify;

}

footer {
    background:#F4BA0E;
    height: auto;
    width: 100%;
    color: #fff;
}
footer strong {
    font-family: Arial;
}
.footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.complementfooter h2 {
    margin : 0px;
    }
.footercontact{
    flex-direction: row;
    display: flex;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.important a {
    color: white;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: #fff;
}

.socials a i {
    font-size: 50px;
    transition: 1s;
}

.socials a:hover i {
    color: #b2316c;
    transition: 1s;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 800px) {
    .logocours {
        justify-content: center;
        position: absolute;
        left: 60%;
    }

    .navbarrecours {
        display: block;
    }

    .navbarre {
        padding: 10px;
        top: 80px;
        width: 90px;
        background-color: #F4BA0E;
        justify-content: center;
        position: absolute;
        z-index: 9;
        align-items: center;
        transition: all 1s;
        right: -50%;
        display: none;
        
    }

    li {
        width: 100px;
    }

    ul li a {
        font-size: 15px;
        padding: 0px 0px 20px;
        
    }

    ul li ul.dropdown a {
        font-size: 13px;
    }

    ul li ul.dropdown {
        position: relative;
        width: 100%;
    }

    ul li ul li {
        position: relative;
        font-size: 12px;
    }

    .checkbtn {
        display: block;
        right: 40%;
    }

    #check:checked ~ .navbarre {
        display: block;
        right: 0%;
        top: 80px;
    }
    .socials {
        flex-direction: column;
        padding-top: 10px;
        margin: 0;
    }

    .footercontact {
        display: flex;
        flex-direction: column;
    }
    .important {
        padding-top: 10px;
    }
}

   
